%h1 Questions ?
%hr
= simple_form_for( @question, html: { class: 'form-horizontal' } ) do |f|
  = f.input :title, wrapper: :prepend, label: false do
    = content_tag :span, 'Title', class: 'add-on'
    = f.input_field :title
  = f.input :body, input_html: { class: 'span5', rows: '5' }, label: false
  .control-group
    .controls
      = f.button :submit, class: 'btn-primary'
      = submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'
%hr


