.row
  .span10
    .full-question
      %h2
        = @question.title
      .date
        = @question.created_at.to_formatted_s(:long)
      .question-body
        = @question.body
      .question-author
        posted by -
        = @question.user.user_name

      .answer-form
        = render 'answers/answer_form'

      %div
        - if has_answers?(@question)
          .answers
            = render @question.answers
        - else
          .block-notice
            Noone has answered this question yet.


