= simple_form_for( @comment, html: { class: 'form-horizontal' } ) do |f|
  = render 'shared/form_errors', object: f.object
  = f.hidden_field :answer_id, value: answer.id
  = f.hidden_field :l_margin, value: 1
  = f.input :body, input_html: { class: 'span5', rows: '5' }, label: false
  .control-group
    .controls
      = f.button :submit, class: 'btn-primary'
      = submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'
