%h3 Post answer to this question
.full-question-info
= simple_form_for( [@question,@answer], html: { class: 'form-horizontal' } ) do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.input :body, input_html: { class: 'span5', rows: '5' }, label: false
  .control-group
    .controls
      = f.button :submit, class: 'btn-primary'
      = submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'
%hr

